
@media (max-width: 900px)
{
    #page-home {
        background-position-x: 70vw;
        height: 700px;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 47%;
        bottom: -8%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1700px) /* largura -x*/
{
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) /* altura -y*/
{
    #page-home {
        background-position-y: 200px;
    }
}